<p id="notice"><%= notice %></p>

<%= form_for @channel, url: {action: "show"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :querysc %>
  <%= f.submit "Search" %>
<% end %>

<%= raw @sc_player %>

<div class="right">
      <dl class="actionButtons">
        <dd><button class="play">Play</button></dd>
        <dd><button class="pause">Pause</button></dd>
        <dd><button class="toggle">Toggle</button></dd>
        <dd><button class="prev">Prev</button></dd>
        <dd><button class="next">Next</button></dd>
      </dl>
      <dl class="actionButtons">
        <dd><button class="seekTo">Seek <input type="text" value="30000" size="10" maxlength="10" /></button></dd>
        <dd><button class="setVolume">Volume <input type="text" value="50" size="3" maxlength="3" /></button></dd>
        <dd><button class="skip">Skip to <input type="text" value="5" size="3" maxlength="2" /></button></dd>
      </dl>
      <dl class="getterButtons">
        <dd><button class="getVolume" caption="volume value is">Get Volume</button></dd>
        <dd><button class="getDuration" caption="sound duration is">Get Sound Duration</button></dd>
        <dd><button class="getPosition" caption="sound position is">Get Sound Position</button></dd>
        <dd><button class="getSounds" caption="sounds:">Get Sounds</button></dd>
        <dd><button class="getCurrentSound" caption="current sound:">Get Current Sound</button></dd>
        <dd><button class="getCurrentSoundIndex" caption="current sound index:">Get Current Sound Index</button></dd>
        <dd><button class="isPaused" caption="is widget paused:">Is Widget Paused</button></dd>
      </dl>
      <textarea class="console" wrap="off"></textarea>
</div>

<% @sc_query.each do |item| %>
    <tr>
       <%= raw item %>
   </tr>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
