<p id="notice"><%= notice %></p>

<%= form_for @channel, url: {action: "show"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :querysc %>
  <%= f.submit "Search" %>
<% end %>

<%#= raw @sc_player %>

<div class="right">
      <textarea class="console" wrap="off"></textarea>
</div>

<% client = Soundcloud.new(:client_id => ENV["SOUNDCLOUD_ACCESS_TOKEN"]) %>
<% track = client.get('/resolve', :url => "http://soundcloud.com/forss/flickermood") %>

<ul class="graphic">

<li><a type="audio/mp3"  class="sm2_link" href="<%= track.stream_url %>?client_id=<%= ENV["SOUNDCLOUD_ACCESS_TOKEN"] %>">Walking</a></li>
<li><a type="audio/mp3" class="sm2_button" href="<%= track.stream_url %>?client_id=<%= ENV["SOUNDCLOUD_ACCESS_TOKEN"] %>">Walking</a></li>

 </ul>

<% @sc_query.each do |item| %>
    <tr>
       <%= raw item %>
   </tr>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
