<p id="notice"><%= notice %></p>

<%= form_for @channel, url: {action: "show"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :querysc %>
  <%= f.submit "Search" %>
<% end %>

<%= raw @sc_player %>

<div class="right">
      <textarea class="console" wrap="off"></textarea>
</div>

<% @sc_query.each do |item| %>
    <tr>
       <%= raw item %>
   </tr>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
